@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "Uber-Move";
  src: url("../../public/fonts/Euclid_Circular_B_Medium.ttf") format("truetype");
  font-weight: 500;
}

:root {
  --background: white;
  --foreground: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: black;
    --foreground: white;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Uber-Move", sans-serif;
}
